.page {
  height: 100%;
}
.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 75px;
  width: 100%;
  max-width: 500px;
}
.headerImage {
  margin-top: 8px;
  margin-bottom: 5px;
}
.inputs {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.header {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: mediumturquoise;
}
.buttons {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgotPasswordWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.forgotPasswordButton {
  font-family: "Courier New", Courier, monospace;
  color: #77838c;
  border: 1px solid #dee5eb;
  width: auto;
  font-size: 15px;
  padding: 15px;
}
